* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  --color-primary: #a4e6fc;
}

.highlight {
  /* background-color: #f7d28e; */
}

basic-tooltip {
  padding: 0.15px;
}

basic-tooltip.important {
  background-color: #b2d9b7;
}
