html {
  --color-primary: #a4e6fc;
}

div {
  border: 2px solid orange;
}
.highlight {
  /* background-color: #f7d28e; */
}

basic-tooltip {
  padding: 0.15px;
}

basic-tooltip.important {
  background-color: green;
}
